doctype html
html
    head
        title= title
    body
        h1= title

        if errors
            if errors.email
                p(style="color: red")= errors.email
            if errors.password
                p(style="color: red")= errors.password

        form(action="/users/signup", method="POST")
            label(for="email") Email:
            input(type="email", name="email", required)
            br

            label(for="password") Password:
            input(type="password", name="password", required)
            br

            button(type="submit") Sign Up
